/* Media Query */
@media screen and (max-width: 770px) {
    .hero{
        height: 100vh;
        position: relative;
    }
    .logo img{
        cursor: pointer;
        width: 90px;
    }
    .hero-image{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
    }
   
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        margin: 8px;
    }
    nav ul li a{
        color: var(--White);
    }
    nav ul li a:hover{
        border-bottom: 1px solid white;
        font-weight: 200;
    }

/* Section-A */

    .section-a-image img{ 
        width: 100%;
        margin: auto;
    }
    .section-a-text{
        width: 400px;
        margin: auto;
        text-align: center;
    }
    .section-a h1{
        color: var(--White);
        font-size:32px;
        margin: 20px auto;
    }
    .section-a p{
        color: var(--White);
        margin:0 auto 40px;
    }
 
    /* Section-B */
    .section-b .container{
        width: 80%;
        margin: 70px auto;
        background-color: var(-);
    }
    .section-b .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section-b .col{
        flex-basis: 100%;
        /* margin:10px 30px 40px; */
    }
    .section-b .col p{
        font-size: 14px;
    }
   
    /* Section-C */
    .section-c{
        background-color: var(--Dark-Blue-main2);
        min-height:60vh;
    }
    .section-c .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-bottom: 90px;
    }
    .section-c .col{
        flex-basis: 100%;
        margin: 0 20px;
    }
    .section-c .col img{
        width: 100%;
    }
    .section-c .col .pin{
        width: 15px;
    }
    .section-c .text{
        text-align: left;
    }
    .section-c .text h1{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    .section-c .text p{
        font-size: 16px;
        margin: 20px 0;
        font-weight: 200;
    }
    .section-c .text img{
        margin-left: 5px;
    }
    .section-c .text a{
        color: var(--White);
    }
    .section-c .text a:hover{
        border-bottom: 1px solid white ;
    }

/* Section-D */
.section-d{
    background-color: var(--Dark-Blue-main2);
    min-height: 50vh;
    position: relative;
}
.section-d .qoute{
position: absolute;
left: 5%;
top: -4%;
z-index: 1;
}
.section-d .qoute img{
    width: 40px;
}
.section-d .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-d .col{
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 20px;
}

.section-d .name-details{
    display: flex;
    justify-content: left;
    align-items: center;
    ;
}
.section-d .name-details .name{
    margin-left: 20px;
    margin-top: 10px
}
.section-d .name-details img{
    border-radius:50%;
    width: 40px;
}
.section-d .name-details h3{
    line-height: 0;
    font-size: 10px;
}
.section-d .name-details p{
    font-size: 9px;
}


/* Section-E */
.section-e{
    min-height: 40vh;
}
.section-e .mail{
    width: 70%;
}

.mail{
    text-align: center;
    padding: 30px;
}
.mail h1{
    font-size: 22px;
}
.mail p{
    font-size: 14px;
    line-height: 1.5;
}
form{
    display: flex;
    flex-direction: column;
}
.mail input{
    width: 230px;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 30px;
    margin: 0 20px;
}
.mail .btn{
    width: 250px;
    margin:10px 20px;
    padding: 2px;
    border-radius: 30px;
}

/* Main-Footer */
.footer{
    min-height: 50vh;
}
.footer .container{
    width: 80%;
    margin: auto;
}
.footer .links a{
    color: var(--White);
}

.footer .footer-logo{
    margin: 200px 0 10px;
    width: 200px;
}
.footer .content{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 -280px;
}
.footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.footer .location{
    display: flex;
    align-items: center;
    margin-left: -150px;
}
.footer .location p{
    text-align: left;
    font-size: 14px;
    padding: 20px;
}
.footer .location img{
    margin-right: 20px;
    height: 100%;
}
.footer .one{
    display: flex;
    margin: 7px 0;
}
.footer .one img{
    margin: 5px 20px;
}
.footer .one p{
    font-size: 12px; 
}

.link{
    display: inline-block;
    margin-left: -320px;
    margin-top: 30px;
}
.links{
    margin: 20px 0;
}
.footer .social a{
    color: white;
}

.social{
    margin: 10px 0 10px -70px;
}
.footer .social a{
    margin: 0 10px;
    border: 1px solid white;
    padding: 4px;
    border-radius: 50%;
}

}